@using DubiSouqWebsite.Models
@{
    ViewBag.Title = "Home Page";
}
<!-- HOME SLIDER -->
<div class="slider-wrap">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                    <img src="~/images/1.jpg" alt="slide">

                    <div class="tp-caption large_black sfr" data-x="120" data-y="140" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
                         style="font-size: 95px; font-weight: normal; text-transform: inherit; color: #ff6766;font-family: manustrialmanustrial;font-style:italic;text-shadow:0px 0px 3px #000;">
                        Sales up to 50%
                    </div>
                    <div class="tp-caption large_black sfr" data-x="120" data-y="230" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
                         style="font-family: 'Montserrat', sans-serif; font-size: 68px; font-weight: 700; line-height:80px;text-transform: uppercase; color: #232323; text-shadow: 0 0 3px #fff">
                        2016 collection
                    </div>
                    <div class="tp-caption large_black sfr carousel-caption-inner" data-x="120" data-y="300" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
                         style="">
                        <img src="~/images/sep-b.png" alt="" />
                    </div>
                    <div class="tp-caption lfb carousel-caption-inner" data-x="120" data-y="350" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
                         style="font-family: cabin Sans; font-size: 17px; font-weight: bold; text-transform: uppercase; color: #232323;">
                        get Free Shipment For Orders Over 1000 LE!
                    </div>
                </li>
                <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                    <img src="~/images/blog_page3.jpg" alt="slide">

                    <div class="tp-caption large_black sfr" data-x="120" data-y="140" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
                         style="font-size: 95px; font-weight: normal; text-transform: inherit; color: #ff6766;font-family: manustrialmanustrial;font-style:italic;text-shadow:0px 0px 3px #000;">
                        Time Saving 
                    </div>
                    <div class="tp-caption large_black sfr" data-x="120" data-y="230" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
                         style="font-family: 'Montserrat', sans-serif; font-size: 68px; font-weight: 700; line-height:80px;text-transform: uppercase; color: #232323; text-shadow: 0 0 3px #fff">
                        Enjoy your Family
                    </div>
                    <div class="tp-caption large_black sfr carousel-caption-inner" data-x="120" data-y="300" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
                         style="">
                        <img src="~/images/sep-b.png" alt="" />
                    </div>
                    <div class="tp-caption lfb carousel-caption-inner" data-x="120" data-y="350" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
                         style="font-family: cabin Sans; font-size: 17px; font-weight: bold; text-transform: uppercase; color: #ffffff ;">
                        Online Shoping Save Time and Effort
                    </div>
                </li>
                <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                    <img src="~/images/slider-temp.jpg" alt="slide">

                    <div class="tp-caption large_black sfr" data-x="120" data-y="140" data-speed="1100" data-start="1100" data-easing="easeInOutBack"
                         style="font-size: 95px; font-weight: normal; text-transform: inherit; color: #ff6766;font-family: manustrialmanustrial;font-style:italic;text-shadow:0px 0px 3px #000;">
                        Summer Sale
                    </div>
                    <div class="tp-caption large_black sfr" data-x="120" data-y="230" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
                         style="font-family: 'Montserrat', sans-serif; font-size: 68px; font-weight: 700; line-height:80px;text-transform: uppercase; color: #232323; text-shadow: 0 0 3px #fff">
                        2016 collection
                    </div>
                    <div class="tp-caption large_black sfr carousel-caption-inner" data-x="120" data-y="300" data-speed="1100" data-start="1400" data-easing="easeInOutBack"
                         style="">
                        <img src="~/images/sep-b.png" alt="" />
                    </div>
                    <div class="tp-caption lfb carousel-caption-inner" data-x="120" data-y="350" data-speed="1300" data-start="1700" data-easing="easeInOutBack"
                         style="font-family: cabin Sans; font-size: 17px; font-weight: bold; text-transform: uppercase; color: #232323;">
                        get upto 50% offer for order over 50000!
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- HOME SLIDER -->
<div class="call_to_action_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="call_to_action">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="single_call_action">
                                <img src="~/images/phone.png" alt="" />
                                <p>
                                    (010) 654 966 89<br>
                                    Daily 10.00 to 22.00
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="single_call_action">
                                <img src="~/images/world.png" alt="" />
                                <p>
                                    Fast delivery across <br>
                                    Egypt
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="single_call_action">
                                <img src="~/images/discount.png" alt="" />
                                <p>
                                    Free Shipment<br>
                                    over 1000EGP
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="single_call_action last_single_call">
                                <img src="~/images/return.png" alt="" />
                                <p>14-day return policy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="exclusive_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="ex_left">
                    <div class="ex_left_text">
                        <h2>Souq.com</h2>
                        <h5>We are Selling the best Products</h5>
                        <p>Get Free Delivery and Sales up to 50%</p>

                        <a href="@Url.Action("Shop","Shop")">Go SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="ex_right">
                    <div class="ex_left_text ex_left_right">
                        <h6>Sell Your Own Product Or Old Stuff</h6>
                        <h2>dubizzle.com</h2>
                        <p>Advertise your Items <span>for Free</span> Now only for limited time</p>

                        <a href="@Url.Action("index","Offers")">view offers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="trending_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="trending_box">
                    <h2>Trending clothing</h2>
                    <div class="multi_line"></div>

                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">new <span>x</span></a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">top sale <span>x</span></a></li>
                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Cheapest <span>x</span></a></li>
                            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"> Top Rated </a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div id="owl-example" class="owl-carousel">
                                    @foreach (product item in ViewBag.newproduct as List<product>
                                        )
                                        {
                                    <div class="item">
                                        <div class="item-img">
                                            <img src="~/@item.product_picture.FirstOrDefault().Picture" alt="" />
                                            <div class="tr-add-cart">
                                                <ul>
                                                    @if (Session["user"] == null)
                                                        {
                                                        <li><a class="tr_text" href="@Url.Action(" Login","User")">Add to cart</a></li>
                                                        }
                                                        else
                                                        {
                                                        <li> @Ajax.ActionLink("Add to cart", "AddToCart", new { id = item.ID }, new AjaxOptions { UpdateTargetId = "cartmenu", InsertionMode = InsertionMode.Replace }, new { @class = "tr_text" })</li>
                                                        }
                                                    <li><a class="fa fa-heart tr_heart" id="addtowish" data-id="@item.ID" href="#"></a></li>
                                                    <li><a class="fa fa-search tr_search" href="@Url.Action(" Product_Details", new { id=item.ID })"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-new">
                                            @if (DateTime.Compare(item.Post_Time ?? DateTime.Now.AddMonths(-5), DateTime.Now.AddMonths(-1)) > 0)
                                                {
                                                <p>New</p>
                                                }
                                            @if (item.Sale > 0)
                                                {
                                                <span> - @item.Sale %</span>
                                                }
                                        </div>
                                        <div class="item-sub">
                                            <a href="@Url.Action(" Product_Details", new { id=item.ID })"><h5>@item.Name</h5></a>
                                            @if (item.Sale > 0)
                                                {
                                                <p>
                                                    @((item.Price / 100) * (100 - item.Sale)) EGP
                                                    <span><del>@item.Price EGP</del></span>
                                                </p>
                                                }
                                                else
                                                {
                                                <p>@item.Price EGP</p>
                                                }
                                        </div>
                                    </div>
                                        }
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="profile">
                                <div id="owl-example-two" class="owl-carousel">
                                    @foreach (product item in ViewBag.saleproduct as List<product>
                                        )
                                        {
                                    <div class="item">
                                        <div class="item-img">
                                            <img src="~/@item.product_picture.FirstOrDefault().Picture" alt="" />
                                            <div class="tr-add-cart">
                                                <ul>
                                                    @if (Session["user"] == null)
                                                        {
                                                        <li><a class="tr_text" href="@Url.Action(" Login","User")">Add to cart</a></li>
                                                        }
                                                        else
                                                        {
                                                        <li> @Ajax.ActionLink("Add to cart", "AddToCart", new { id = item.ID }, new AjaxOptions { UpdateTargetId = "cartmenu", InsertionMode = InsertionMode.Replace }, new { @class = "tr_text" })</li>
                                                        }
                                                    <li><a class="fa fa-heart tr_heart" id="addtowish" data-id="@item.ID" href="#"></a></li>
                                                    <li><a class="fa fa-search tr_search" href="@Url.Action(" Product_Details", new { id=item.ID })"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-new">
                                            @if (DateTime.Compare(item.Post_Time ?? DateTime.Now.AddMonths(-5), DateTime.Now.AddMonths(-1)) > 0)
                                                {
                                                <p>New</p>
                                                }
                                            @if (item.Sale > 0)
                                                {
                                                <span> - @item.Sale %</span>
                                                }
                                        </div>
                                        <div class="item-sub">
                                            <a href="@Url.Action(" Product_Details", new { id=item.ID })"><h5>@item.Name</h5></a>
                                            @if (item.Sale > 0)
                                                {
                                                <p>
                                                    @((item.Price / 100) * (100 - item.Sale)) EGP
                                                    <span><del>@item.Price EGP</del></span>
                                                </p>
                                                }
                                                else
                                                {
                                                <p>@item.Price EGP</p>
                                                }
                                        </div>
                                    </div>
                                        }
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="messages">
                                <div id="owl-example-three" class="owl-carousel">
                                    @foreach (product item in ViewBag.cheapproduct as List<product>
                                        )
                                        {
                                    <div class="item">
                                        <div class="item-img">
                                            <img src="~/@item.product_picture.FirstOrDefault().Picture" alt="" />
                                            <div class="tr-add-cart">
                                                <ul>
                                                    @if (Session["user"] == null)
                                                        {
                                                        <li><a class="tr_text" href="@Url.Action(" Login","User")">Add to cart</a></li>
                                                        }
                                                        else
                                                        {
                                                        <li> @Ajax.ActionLink("Add to cart", "AddToCart", new { id = item.ID }, new AjaxOptions { UpdateTargetId = "cartmenu", InsertionMode = InsertionMode.Replace }, new { @class = "tr_text" })</li>
                                                        }
                                                    <li><a class="fa fa-heart tr_heart" id="addtowish" data-id="@item.ID" href="#"></a></li>
                                                    <li><a class="fa fa-search tr_search" href="@Url.Action(" Product_Details", new { id=item.ID })"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="item-new">
                                            @if (DateTime.Compare(item.Post_Time ?? DateTime.Now.AddMonths(-5), DateTime.Now.AddMonths(-1)) > 0)
                                                {
                                                <p>New</p>
                                                }
                                            @if (item.Sale > 0)
                                                {
                                                <span> - @item.Sale %</span>
                                                }
                                        </div>
                                        <div class="item-sub">
                                            <a href="@Url.Action(" Product_Details", new { id=item.ID })"><h5>@item.Name</h5></a>
                                            @if (item.Sale > 0)
                                                {
                                                <p>
                                                    @((item.Price / 100) * (100 - item.Sale)) EGP
                                                    <span><del>@item.Price EGP</del></span>
                                                </p>
                                                }
                                                else
                                                {
                                                <p>@item.Price EGP</p>
                                                }
                                        </div>
                                    </div>
                                        }
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="settings">
                                <div id="owl-example-four" class="owl-carousel">
                                    @foreach (product item in ViewBag.ratedproduct as List<product>)
                                    {
                                        <div class="item">
                                            <div class="item-img">
                                                <img src="~/@item.product_picture.FirstOrDefault().Picture" alt="" />
                                                <div class="tr-add-cart">
                                                    <ul>
                                                        @if (Session["user"] == null)
                                                        {
                                                            <li><a class="tr_text" href="@Url.Action("Login","User")">Add to cart</a></li>
                                                        }
                                                        else
                                                        {
                                                            <li> @Ajax.ActionLink("Add to cart", "AddToCart", new { id = item.ID }, new AjaxOptions { UpdateTargetId = "cartmenu", InsertionMode = InsertionMode.Replace }, new { @class = "tr_text" })</li>
                                                        }
                                                        <li><a class="fa fa-heart tr_heart" id="addtowish" data-id="@item.ID" href="#"></a></li>
                                                        <li><a class="fa fa-search tr_search" href="@Url.Action("Product_Details", new { id = item.ID })"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="item-new">
                                                @if (DateTime.Compare(item.Post_Time ?? DateTime.Now.AddMonths(-5), DateTime.Now.AddMonths(-1)) > 0)
                                                {
                                                    <p>New</p>
                                                }
                                                @if (item.Sale > 0)
                                                {
                                                    <span> - @item.Sale %</span>
                                                }
                                            </div>
                                            <div class="item-sub">
                                                <a href="@Url.Action("Product_Details", new { id = item.ID })"><h5>@item.Name</h5></a>
                                                @if (item.Sale > 0)
                                                {
                                                    <p>
                                                        @((item.Price / 100) * (100 - item.Sale)) EGP
                                                        <span><del>@item.Price EGP</del></span>
                                                    </p>
                                                }
                                                else
                                                {
                                                    <p>@item.Price EGP</p>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="branding_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="branding_box">
                    <div class="branding_box_heading">
                        <h2>Branding</h2>
                        <div class="dotted_line"></div>
                    </div>
                    <div id="branding_caro" class="owl-carousel">
                        <div>
                            <img src="~/images/brand1.png" alt="" />
                        </div>
                        <div>
                            <img src="~/images/brand2.png" alt="" />
                        </div>
                        <div>
                            <img src="~/images/brand3.png" alt="" />
                        </div>
                        <div>
                            <img src="~/images/brand4.png" alt="" />
                        </div>
                        <div>
                            <img src="~/images/brand5.png" alt="" />
                        </div>
                        <div>
                            <img src="~/images/brand6.png" alt="" />
                        </div>
                        <div>
                            <img src="~/images/brand1.png" alt="" />
                        </div>
                        <div>
                            <img src="~/images/brand2.png" alt="" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="~/Scripts/jquery/jquery-2.2.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("li#home").addClass("current-page-item");
        if ("@ViewBag.orderid" != "")
            alert("Your Order ID #@ViewBag.orderid");
    });
</script>
