@model DubiSouqWebsite.Models.product
@using DubiSouqWebsite.Models
@if (Session["user"] == null)
{
    <script type="text/javascript" language="javascript">
    document.location = '@Url.Action("Login", "User")';
    </script>
}

<div class="review_comments" id="review_comments">
    <div class="review_heading">
        <div class="review_heading_left">
            <h2><span>@Model.reviews.Count Review for </span> "@Model.Name"</h2>
            <div class="multi_line"></div>
        </div>
        <div class="review_heading_right">
            <ul id="review_heading_star">
                @for (int i = 0; i < ViewBag.Rate; i++)
                {
                    <li><span class="fa fa-star"></span></li>
                }
                @for (int i = 5; i > ViewBag.Rate; i--)
                {
                    <li><span class="fa fa-star-o red"></span></li>
                }
            </ul>
        </div>
    </div>
    @foreach (review item in Model.reviews)
    {
        if (item.Comment != null && item.Title != null)
        {
            <div class="single_review_comment @if (Model.reviews.LastOrDefault() == item) { @String.Copy("last")  } ">
                <div class="single_review_img">
                    <img src="~/@item.user.Picture" alt="" />
                </div>
                <div class="single_review_text">
                    <h4>@item.Title</h4>
                    <ul id="single_review_star">
                        @for (int i = 0; i < item.Rate; i++)
                        {
                            <li><span class="fa fa-star"></span></li>
                        }
                        @for (int i = 5; i > item.Rate; i--)
                        {
                            <li><span class="fa fa-star-o red"></span></li>
                        }
                    </ul>
                    <p>@item.Comment</p>
                    <div class="review_italic">
                        <p><span>@item.user.Name,</span>@item.Date.Date</p>
                    </div>
                </div>
            </div>
        }
    }
</div>

