@using DubiSouqWebsite.Models
@{
    List<cart_item> CARTITEMS = ShoppingCart.GetCartItems();
    var count = ShoppingCart.GetCount();
    var total = @ShoppingCart.GetTotal();
}
<a href="#"><img src="~/images/bag.png" alt="Bag" /><span id="cart-count">cart: @count items</span></a>
<div class="cart_menu" id="cart_menu">
    @foreach (cart_item item in CARTITEMS)
    {
        <div class="cart_items" id="row-@item.Product_ID">
            <div class="c_item_img floatleft">
                <a href="@Url.Action("Product_Details", new { id = item.Product_ID })"><img src="~/@item.product.product_picture.FirstOrDefault().Picture" alt="" /></a>
            </div>
            <div class="c_item_totals floatleft">
                <div class="c_item_totals_detail floatleft">
                    <a href="@Url.Action("Product_Details", new { id = item.Product_ID })"><h5>@item.product.Name</h5></a>
                    <span>@item.Quantity x @( (item.product.Price / 100) * (100 - item.product.Sale)) EGP </span>
                </div>
                <div class="close_icon_cart floatleft">
                    <a href="#" class="RemoveLink" data-id="@item.Product_ID">
                        <img src="~/images/close.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <script>
            document.getElementById("@item.Product_ID-count").innerHTML = @item.Quantity;
            document.getElementById("old-@item.Product_ID").innerHTML = "@(item.Quantity * item.product.Price) EGP";
            document.getElementById("new-@item.Product_ID").innerHTML = "@(item.Quantity * (item.product.Price / 100) * (100 - item.product.Sale)) EGP";
            document.getElementById("carttotal").innerHTML = total+" EGP";
        </script>
    }
    <script>
        document.getElementById("carttotal").innerHTML = total;
        if(@ShoppingCart.GetTotal() > 1000)
        {
            document.getElementById("charge").innerHTML = "Free";
            document.getElementById("total").innerHTML = total;
        }
        else
        {
            document.getElementById("charge").innerHTML = "50 EGP";
            document.getElementById("total").innerHTML = (total+50)+" EGP";
        }
    </script>
    <div class="cart_totals">
        <div class="c_totals_left floatleft">
            @if (ShoppingCart.GetTotal() >= 1000)
            {
                <p id="shipment">Free Shipment</p>
            }
            else
            {
                <p id="shipment">Paid Shipmet</p>
            }
        </div>
        <div class="c_totals_right floatleft">
            <p id="cart-total">total  @ShoppingCart.GetTotal() EGP</p>
        </div>
    </div>
    <div class="cart_view_bottom">
        <div class="c_totals_left floatleft">
            <a href="@Url.Action("Cart")">View Cart</a>
        </div>
        <div class="c_totals_right floatleft">
            <a href="@Url.Action("Checkout")">Check Out</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function (e) {
            e.preventDefault();
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/Shop/RemoveFromCart", { "id": recordToDelete , "quantity": 0 },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        $('#row-' + data.Id).fadeOut('slow');
                        $('#rrow-' + data.Id).fadeOut('slow');
                        $('#cart-total').text("total " + data.CartTotal + " EGP");
                        $('#cart-count').text('cart: ' + data.CartCount + ' items');
                        $('#count').text(data.CartCount);
                        $().text();
                        if (data.CartTotal < 1000)
                            $('#shipment').text('Paid Shipment');
                        else
                            $('#shipment').text('Free Shipment');
                    });
            }
        });
    });
</script>