@using DubiSouqWebsite.Models
@model DubiSouqWebsite.Models.order
@{
    ViewBag.Title = "Checkout";
    Entities db = new Entities();
    double total = 0;
}
<section class="breadcumb_top_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bread_top_box">
                    <h2>Checkout</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bread_box">
                    <ul class="breadcumb">
                        <li><a href="@Url.Action("Index", "shop" )">home <span>|</span></a></li>
                        <li><a href="category-1.html">Shop <span>|</span></a></li>
                        <li><a href="@Url.Action("Cart", "shop" )">Cart <span>|</span></a></li>
                        <li class="active"><a href="@Url.Action("Checkout", "shop" )">checkout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="checkout_area">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="contact_box_left">
                    <h4>Leave A Feedback</h4>
                    <div class="multi_line"></div>
                    @using (@Html.BeginForm("Feedback", "shop"))
                    {
                    <div class="input_form">
                        <div class="input_left">
                            <h3>1. Overall, how well does our website meet your needs?</h3>
                            <input type="radio" name="Q1" value="5" required> Extremely well<br>
                            <input type="radio" name="Q1" value="4"> Very well<br>
                            <input type="radio" name="Q1" value="3"> Somewhat well<br>
                            <input type="radio" name="Q1" value="2"> Not so well<br>
                            <input type="radio" name="Q1" value="1"> Not at all well<br><br>

                            <h3>3. Did it take you more or less time than you expected to find what you were looking for on our website?</h3>
                            <input type="radio" name="Q3" value="5" required> A lot less time<br>
                            <input type="radio" name="Q3" value="4"> A little less time<br>
                            <input type="radio" name="Q3" value="3"> About what i expected<br>
                            <input type="radio" name="Q3" value="2"> A little more time<br>
                            <input type="radio" name="Q3" value="1"> A lot more time<br><br>

                        </div>

                        <div class="input_right">
                            <h3>2. How easy was it to find what you were looking for on our website?</h3>
                            <input type="radio" name="Q2" value="5" required> Extremely easy<br>
                            <input type="radio" name="Q2" value="4"> Very easy<br>
                            <input type="radio" name="Q2" value="3"> Somewhat easy<br>
                            <input type="radio" name="Q2" value="2"> Not so easy<br>
                            <input type="radio" name="Q2" value="1"> Not at all easy<br><br>

                            <h3>4. Do you have any other comments about how we can improve our website?</h3>
                            <textarea name="Q4" placeholder="Message"></textarea>

                        </div>



                    </div>
                    <div class="submit_btn form-group submitRow">
                        <input type="submit" name="submit" value="Send" />
                    </div>
                    }
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="checkout_right">
                    <h4>Review of Your Order</h4>

                    <div class="product_form_total">
                        <div class="c_main_item">
                            <p>Product</p>
                            <span>Total</span>
                        </div>
                        @foreach (cart_item item in ShoppingCart.GetCartItems())
                        {
                            product PROD = db.products.SingleOrDefault(u => u.ID == item.Product_ID);
                            <div class="c_single_item">
                                <p>@PROD.Name x @item.Quantity</p>
                                <span>@( (PROD.Price / 100) * (100 - PROD.Sale) * item.Quantity)</span>
                                @{
                                    total += ((PROD.Price / 100) * (100 - PROD.Sale) * item.Quantity);
                                }
                            </div>
                                    }
                        <div class="c_single_item sp_single_item">
                            <p></p>
                        </div>
                        <div class="c_single_item">
                            <p>subtotal</p>
                            <span>@total EGP</span>
                        </div>
                        <div class="c_single_item sp_single_item">
                            <p>Shipping Charge</p>
                            @if (total > 1000)
                            {
                                <span>Free</span>
                            }
                            else
                            {
                                <span>Pay 50 EGP</span>
                                total += 50;
                            }
                        </div>
                        <div class="c_total_item sp_single_item">
                            <p>Order Total</p>
                            <span>@total EGP</span>
                        </div>
                        @using (Html.BeginForm("Checkout", "shop", FormMethod.Post, new { @class = "form-horizontal", id = "checkoutform", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="c_payment">
                                @Html.DropDownListFor(model => model.Payment_Method, ViewBag.payment_method as SelectList, "Select Payment Method", new { @class = "selectpicker sel_state" })
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="licence"> I have Read & Accept <span>Terms & Conditions</span>
                                </label>
                            </div>
                            <input id="orderbtn" type="submit" value="Place order now" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type='text/javascript'>
    $(document).ready(function () {
        $('#licence').click(function () {
            if ($(this).attr('checked') == false) {
                $('#orderbtn').attr("disabled", "disabled");
            } else {
                $('#orderbtn').removeAttr('disabled');
            }
        });
    });
</script>
