@model DubiSouqWebsite.Models.product

@{
    ViewBag.Title = "Product_Details";
}
<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="bread_box">
                    <ul class="breadcumb">
                        <li><a href="@Url.Action("Home","Home")">Home<span>|</span></a></li>
                        <li><a href="@Url.Action("Home")">Shop<span>|</span></a></li>
                        <li><a href="@Url.Action("Index", new { id = Model.Category_ID })">Category<span>|</span></a></li>
                        <li class="active"><a href="#">@Model.Name</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="gray_tshirt_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="gray_tshirt">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="single_product_image_tab">
                                <div role="tabpanel">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs product_detail_zoom_tab" role="tablist">
                                        @foreach (var item in Model.product_picture)
                                        {
                                            <li role='presentation' class="active">
                                                <a href="#@item.ID" aria-controls="@item.ID" role="tab" data-toggle="tab">
                                                    <div class="small_img">
                                                        <img src="~/@item.Picture" alt="" width="50" height="50" />
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        @if (Model.product_picture.FirstOrDefault() != null)
                                        {
                                            <div role="tabpanel" class="tab-pane active" id="@Model.product_picture.FirstOrDefault().ID">
                                                <div class="single_p_image">
                                                    <a href="~/@Model.product_picture.FirstOrDefault().Picture" data-lightbox="image-1" data-title="My caption"><img src="~/images/product-plus.png" alt="" /></a>
                                                    <img id="zoom_02" src="~/@Model.product_picture.FirstOrDefault().Picture" height="800" width="300" data-zoom-image="/@Model.product_picture.FirstOrDefault().Picture" alt="" />
                                                </div>
                                            </div>
                                        }
                                        @for (int i = 1; i < Model.product_picture.Count; i++)
                                        {
                                            <div role="tabpanel" class="tab-pane" id="@Model.product_picture.ElementAt(i).ID">
                                                <div class="single_p_image">
                                                    <a href="~/@Model.product_picture.ElementAt(i).Picture" data-lightbox="image-1" data-title="My caption"><img src="~/images/product-plus.png" alt="" /></a>
                                                    <img id="zoom_02" src="~/@Model.product_picture.ElementAt(i).Picture" height="800" width="300" data-zoom-image="/@Model.product_picture.ElementAt(i).Picture" alt="" />
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <div class="product_detail_heading">
                                <div class="detail_heading_left">
                                    <h3>@Model.Name</h3>
                                    @if (Model.Sale > 0)
                                    {
                                        <div class="old_price_gray"><p> @((Model.Price / 100) * (100 - Model.Sale)) EGP</p></div>
                                        <div class="new_price_gray"><del> @Model.Price EGP </del></div>
                                    }
                                    else
                                    {
                                        <div class="old_price_gray"><p> @Model.Price EGP</p></div>
                                    }
                                </div>
                                <div class="detail_heading_right">
                                    <ul id="detail_star">
                                        <li><a class="fa fa-star-o red" href="#"></a></li>
                                        <li><a class="fa fa-star-o red" href="#"></a></li>
                                        <li><a class="fa fa-star-o red" href="#"></a></li>
                                        <li><a class="fa fa-star-o" href="#"></a></li>
                                        <li><a class="fa fa-star-o" href="#"></a></li>
                                    </ul>
                                    <p>(@Model.reviews.Count Review)</p>
                                </div>
                            </div>

                            <div class="panel-group product_accordion" id="home-accordion-single" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default product_default">
                                    <div class="panel-heading product_accordion_heading" role="tab" id="headingOneP">
                                        <h4 class="panel-title product_accordion_head">
                                            <a data-toggle="collapse" data-parent="#home-accordion-single" href="#collapseOneP" aria-expanded="true" aria-controls="collapseOneP">
                                                Description
                                                <span class="floatright"><i class="fa fa-minus"></i></span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneP" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOneP">
                                        <div class="panel-body product_ac_body">
                                            @Model.Description
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default product_default">
                                    <div class="panel-heading product_accordion_heading" role="tab" id="headingThreeP">
                                        <h4 class="panel-title product_accordion_head">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#home-accordion-single" href="#collapseThreeP" aria-expanded="false" aria-controls="collapseThreeP">
                                                Delivery
                                                <span class="floatright"><i class="fa fa-plus"></i></span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThreeP" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThreeP">
                                        <div class="panel-body product_accordion_head">
                                            <div class="single_color">
                                                <div class="color_heading"><h5>Quantity</h5></div>
                                                <div class="color_detail">
                                                    @using (Html.BeginForm("AddToCart", "Shop", new { id = Model.ID }, FormMethod.Get, new { id="QuantityForm" }))
                                                    {
                                                        <div class="size_down">
                                                            <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" max="@Model.Quantity" min="0" step="1">
                                                        </div>
                                                        <div class="size_cart">
                                                            <a href="#" onclick="javascript: document.getElementById('QuantityForm').submit()">Add to cart</a>
                                                        </div>
                                                        <div class="size_heart">
                                                            <a href="@Url.Action("Addtowish")"><img src="~/images/Product-Details-heart.png" alt="" /></a>
                                                        </div>
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product_page_tab_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product_page_tab">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs tab-product" role="tablist">
                            <li role="presentation" class="active"><a href="#home2" aria-controls="home2" role="tab" data-toggle="tab">Description</a></li>
                            <li role="presentation"><a href="#messages2" aria-controls="messages2" role="tab" data-toggle="tab">Review (2)</a></li>
                        </ul>
                        <div class="tab-content tab-p-details">
                            <div role="tabpanel" class="tab-pane active" id="home2">
                                <h2>Description</h2>
                                <div class="multi_line"></div>
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages2">
                                <div class="review_comments">
                                    <div class="review_heading">
                                        <div class="review_heading_left">
                                            <h2><span>2 Review for </span> "@Model.Description"</h2>
                                            <div class="multi_line"></div>
                                        </div>
                                        <div class="review_heading_right">
                                            <ul id="review_heading_star">
                                                <li><a href="#" class="fa fa-star"></a></li>
                                                <li><a href="#" class="fa fa-star"></a></li>
                                                <li><a href="#" class="fa fa-star"></a></li>
                                                <li><a href="#" class="fa fa-star"></a></li>
                                                <li><a href="#" class="fa fa-star"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="single_review_comment">
                                        <div class="single_review_img">
                                            <img src="~/images/single_rv1.png" alt="" />
                                        </div>
                                        <div class="single_review_text">
                                            <h4>A Stunning Beauty!</h4>
                                            <ul id="single_review_star">
                                                <li><a href="#" class="fa fa-star"></a></li>
                                                <li><a href="#" class="fa fa-star"></a></li>
                                                <li><a href="#" class="fa fa-star"></a></li>
                                                <li><a href="#" class="fa fa-star"></a></li>
                                                <li><a href="#" class="fa fa-star"></a></li>
                                            </ul>
                                            <p>Semper orci etiam ac ultricies ante. Donec lobortis variusjusto et. Curabitur egestas aliquet massa non elementum. Quisque at risus nisl. Aliquam erat volutpat. Suspendisse potenti. Nullam porta faucibus elit.</p>
                                            <div class="review_italic">
                                                <p><span>Nicole Bailey,</span> 12.05.2013</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_review_comment last">
                                        <div class="single_review_img">
                                            <img src="~/images/single_rv2.png" alt="" />
                                        </div>
                                        <div class="single_review_text last">
                                            <h4>A Stunning Beauty!</h4>
                                            <ul id="single_review_star">
                                                <li><a href="#" class="fa fa-star"></a></li>
                                                <li><a href="#" class="fa fa-star"></a></li>
                                                <li><a href="#" class="fa fa-star"></a></li>
                                                <li><a href="#" class="fa fa-star"></a></li>
                                                <li><a href="#" class="fa fa-star"></a></li>
                                            </ul>
                                            <p>Semper orci etiam ac ultricies ante. Donec lobortis variusjusto et. Curabitur egestas aliquet massa non elementum. Quisque at risus nisl. Aliquam erat volutpat. Suspendisse potenti. Nullam porta faucibus elit.</p>
                                            <div class="review_italic">
                                                <p><span>Nicole Bailey,</span> 12.05.2013</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Review_input">
                                    <div class="review_input_heading">
                                        <h3>Write your review</h3>
                                        <div class="multi_line"></div>
                                    </div>
                                    <div class="review_comment_input">
                                        <input type="text" placeholder="Enter Your Nickname" /><br>
                                        <input type="text" placeholder="Summary of your Review" /><br>
                                        <textarea name="" id="" cols="30" rows="10" placeholder="Write your review"></textarea><br>
                                        <input type="submit" value="Submit Review" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

